<!DOCTYPE html>
<html>
  <head>
    <title>Andrew's Online Book Store</title>
    <%= csrf_meta_tags %>

    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class='<%= controller.controller_name %>'>
    <div id="banner">
      <%= image_tag 'logo.svg', alt: "The Pragmatic Bookshelf" %>
      <span class="title"><%= @page_title %></span>
    </div>
    <div id="columns">
      <div id="side">
        <div id="cart">
          <% if @cart %>
            <%= render @cart %>
          <% end %>
        </div>

        <ul>
          <li><%= link_to "Home", store_index_path %></li>
          <li><a href="http://www...">Questions</a></li>
          <li><a href="http://www...">News</a></li>
          <li><a href="http://www...">Contact</a></li>
        </ul>
      </div>
      <div id="main">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
